.offers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 280px 1fr;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.offers-list__item--vertical {
  display: grid;
  grid-row: span 2;
}

.offers-list__item--size-flat {
  display: grid;
  grid-column: 1 / 3;
}

.offers-list__item {
  min-width: 300px;
}
