.special-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
  padding: 20px 20px 0;
  border-radius: 16px;
  background: #F4F6FA;
}

.special-card__heading {
  margin: 0;
  color: #1E222E;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
